@charset "utf-8";
/* CSS Document */

footer
{
	border:0;
	clear:both;
	position:relative;
	min-height:44px;
}

footer p
{
	margin:5px 5px;
	font-size:80%;
	text-align:right;
	color:#FFF;
}

.bordof
{
	
	border-radius:5px;
	background:#333333;
	
}