@charset "utf-8";
/* CSS Document */
header
{
	border:0;
	min-height:80px;	
}

nav
{
	clear:both;
	display:block;
}

header nav ul
{
	width:760px;
	padding:0;
	margin:0 auto;
	display:block;
	list-style-type:none;
}


nav li
{
	display:inline;
	text-transform:uppercase;
}


nav a
{
	color:#fff;
	text-align:center;
	text-decoration:none;
	padding:0px 30px;
	margin:0px 0px 0px 15px;
	
}


nav a:hover
{
	background:#9C0306;
	border-radius:15px;
}


header img
{
	float:left;
	margin-right:1em;
}

hgroup
{
	text-align:center;
}